<%= form_for(@item) do |f| %>
  <div class = "field">
  <%= f.label :cep %>
  <p><%= f.text_field :cep %></p>

  <div class = "field" >
  <%= f.label :route_id %>
  <%= f.select :route_id, Route.all.collect { |r| [ r.nome, r.id ] }, :selected => params[:route]  %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
