<h1>Listing items</h1>

<table>
  <tr>
    <th>Rota</th>
    <th>Endereco</th>
    <th>Cep</th>
    <th>Logradouro</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Bairro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.route.nome %></td>
    <td><%= item.endereco %></td>
    <td><%= item.cep %></td>
    <td><%= item.logradouro %></td>
    <td><%= item.cidade %></td>
    <td><%= item.estado %></td>
    <td><%= item.bairro %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
