<p id="notice"><%= notice %></p>

<% @route.items.each_index do |x| %>
  <p><%= x+1 %>. 
     <%=link_to @route.items[x].cep, @route.items[x] %>, 
     <% @route.items[x].cidade %>-
     <% @route.items[x].estado %></p>
<% end %>

<%= link_to "Adicionar CEP", :controller => :items, :action => :new, :route =>  @route %> |
<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
